In [36]:
#Mean, Median, Mode for each student in a DataFrame
import pandas as pd
import numpy as np


dict1 = {
    "Name": ['Om', 'Sai', 'Ram'],
    "USN": [120, 133, 129],
    "Math": [85, 76, 90],
    "Physics": [78, 88, 82],
    "Chemistry": [92, 80, 85]
}

df = pd.DataFrame(dict1)
df.index = ["1", "2", "3"]

stats = pd.DataFrame({
    "Mean": df[["Math", "Physics", "Chemistry"]].mean(axis=1),
    "Median": df[["Math", "Physics", "Chemistry"]].median(axis=1),
    "Mode": df[["Math", "Physics", "Chemistry"]].mode(axis=1)[0]
}, index=df.index)


print(stats)
df.describe()

        Mean  Median  Mode
1  85.000000    85.0    78
2  81.333333    80.0    76
3  85.666667    85.0    82

              USN       Math    Physics  Chemistry
count    3.000000   3.000000   3.000000   3.000000
mean   127.333333  83.666667  82.666667  85.666667
std      6.658328   7.094599   5.033223   6.027714
min    120.000000  76.000000  78.000000  80.000000
25%    124.500000  80.500000  80.000000  82.500000
50%    129.000000  85.000000  82.000000  85.000000
75%    131.000000  87.500000  85.000000  88.500000
max    133.000000  90.000000  88.000000  92.000000

In [ ]:
#anova test
from scipy.stats import f_oneway


performance1 = [89, 89, 88, 78, 79]
performance2 = [93, 92, 94, 89, 88]
performance3 = [89, 88, 89, 93, 90]
performance4 = [81, 78, 81, 92, 82]


f_oneway(performance1, performance2, performance3, performance4)

F_onewayResult(statistic=np.float64(4.625000000000002), pvalue=np.float64(0.016336459839780215))

In [38]:
#hypothesis Testing (Paired T-Test)
import pandas as pd
from scipy import stats
df = pd.read_csv("blood_pressure.csv")
print(df[['bp_before', 'bp_after']].describe())
ttest, pval = stats.ttest_rel(df['bp_before'], df['bp_after'])
print("\nP-value:", pval)
if pval < 0.05:
    print("Reject null hypothesis: Significant difference in blood pressure")
else:
    print("Accept null hypothesis: No significant difference in blood pressure")

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

P-value: 0.0011297914644840823
Reject null hypothesis: Significant difference in blood pressure

In [39]:
import pandas as pd
import numpy as np
import statistics as st

nums = [1, 3, 5, 7, 9]

# Using statistics module
print("Variance:", st.variance(nums))  
print("Standard Deviation:", st.stdev(nums))  
df = pd.DataFrame(nums, columns=["Numbers"])
print(df)

print(df.skew())

Variance: 10
Standard Deviation: 3.1622776601683795
   Numbers
0        1
1        3
2        5
3        7
4        9
Numbers    0.0
dtype: float64