In [31]:
#Mean, Median, Mode for each student in a DataFrame
import pandas as pd
import numpy as np


dict1 = {
    "Name": ['Om', 'Sai', 'Ram'],
    "USN": [120, 133, 129],
    "Math": [85, 76, 90],
    "Physics": [78, 88, 82],
    "Chemistry": [92, 80, 85]
}

df = pd.DataFrame(dict1)
df.index = ["1", "2", "3"]

stats = pd.DataFrame({
    "Mean": df[["Math", "Physics", "Chemistry"]].mean(axis=1),
    "Median": df[["Math", "Physics", "Chemistry"]].median(axis=1),
    "Mode": df[["Math", "Physics", "Chemistry"]].mode(axis=1)[0]
}, index=df.index)


print(stats)
df.describe()

        Mean  Median  Mode
1  85.000000    85.0    78
2  81.333333    80.0    76
3  85.666667    85.0    82

              USN       Math    Physics  Chemistry
count    3.000000   3.000000   3.000000   3.000000
mean   127.333333  83.666667  82.666667  85.666667
std      6.658328   7.094599   5.033223   6.027714
min    120.000000  76.000000  78.000000  80.000000
25%    124.500000  80.500000  80.000000  82.500000
50%    129.000000  85.000000  82.000000  85.000000
75%    131.000000  87.500000  85.000000  88.500000
max    133.000000  90.000000  88.000000  92.000000

In [32]:
import pandas as pd
import numpy as np
import statistics as st

nums = [1, 3, 5, 7, 9]

# Using statistics module
print("Variance:", st.variance(nums))  
print("Standard Deviation:", st.stdev(nums))  
df = pd.DataFrame(nums, columns=["Numbers"])
print(df)

print(df.skew())

Variance: 10
Standard Deviation: 3.1622776601683795
   Numbers
0        1
1        3
2        5
3        7
4        9
Numbers    0.0
dtype: float64